.page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.page > header {
  max-width: 100vw;
  overflow: hidden;
  min-height: 5.6rem;
  max-height: 5.6rem;
  padding: 0.4rem 1.6rem;
  z-index: 1;
}
.page > main {
  overflow: hidden;
  flex:1;
  display:flex;
  flex-direction: column;
}
.page .scrollpane {
  padding: 1rem;
  overflow-y: auto;
  flex:1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 960px) {

}

@media (min-width: 960px) and (orientation: landscape) {
  .page > header {
    position: fixed;
    z-index: 2000;
    width: 100%;
    left:0px;
  }
  .page > main {
    z-index: 1999;
    margin-top: 5.6rem;

    padding-left:0px;
    padding-top: 0px;
  }

}

@media (min-width: 1280px) {
  .page > header {
    position: relative;
    z-index: auto;
  }
  .page > main {
    margin-top: 0px;
    z-index: auto;
  }
  .page .inbox > .inbox-list{
    z-index: auto;
  }
}

@media print {
  .page, .page > main {
    overflow: visible;
    display: block;
    width: 100%;
    padding: 0;
  }
}
