.list {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.list > ul {
  flex: 1;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  list-style: none;
}

.listitem {
  flex: 1;
  display: flex;
  align-items: center;
  min-height: 7.2rem;
}

.listitem .avatar {
  box-sizing: border-box;
  width: 7.2rem;
  padding-top: 1.6rem;
  padding-left: 1.6rem;
  padding-bottom: 1.6rem;
  align-self: flex-start;
}

.listitem > .content {
  flex:1;
  padding-top: 1.6rem;
  padding-right: 1.6rem;
  padding-bottom: 1.6rem;
  border-bottom: solid 1px #DDD;
  display:flex;
  flex-direction: column;
}

.listitem .title {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: .01em;
  line-height: 2.4rem;
  color: rgba(0, 0, 0, 0.8);
}

.listitem .line-info {
  font-size: 1.2rem;
}

.listitem:hover {
  cursor: pointer;
  background-color: #EFEFEF;
}

.listitem.selected {
  background-color: transparent;
}

.listitem .subtitle {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: .01em;
  line-height: 1.6rem;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  padding-right: 1.6rem;
}

@media (max-width: 959px) {
  .listitem .title {
    font-size: 1.6rem;
    font-weight: 400;
  }

  .listitem .subtitle {
    font-size: 1.4rem;
    font-weight: 500;
  }
}

@media all and (min-width:960px) and (orientation:landscape) {
  .listitem.selected {
    background-color: #EEF;
  }
}
