.paper {
  position: relative;
  padding: 2.4rem;

  border-radius: 0;
  color: #000;
  background-color: #FFF;
  font-size: 1.4rem;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 2px 0 rgba(0,0,0,.12);
}

.paper.raised {
  box-shadow: 0 8px 8px 0 rgba(0,0,0,.16),0 0 8px 0 rgba(0,0,0,.12);
}

.paper.raising:hover {
  box-shadow: 0 8px 8px 0 rgba(0,0,0,.16),0 0 8px 0 rgba(0,0,0,.12);
}

.expansion {
  position: relative;
  padding: 1.5rem 1rem 0 2.4rem;

  border-radius: 0;
  color: #000;
  background-color: #FFF;
  font-size: 1.4rem;

  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.expansion {

}

.expansion .collapser {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  transform: rotate(180deg);
  z-index: 3000;
}

.expansion.small .icon-button {
    width: 2.4rem;
    height: 2.4rem;
    border: 0;
    padding: .5rem;
    background-color: transparent;
}

.expansion .fixed {

}

.expansion.collapsed {
  padding-top: 1rem;
}

.expansion.collapsed .fixed {

}

.expansion.collapsed .collapsable {
  display: none;
}

.expansion.collapsed .collapser {
  top: 0.5rem;
  transform: rotate(0deg);
}
